@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 253, 253);
}
.section-header {
  margin-top: 100px;
  margin-bottom: 20px;
  .section-label {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    font-family: "Poppins", sans-serif;
    @media screen and (max-width: 1080px) {
      font-size: 12px;
    }
  }
  .section-title {
    font-size: 32px;
    font-weight: 600;
    color: #0f0f0f;
    @media screen and (max-width: 1080px) {
      font-size: 24px;
    }
  }
}

// @media (min-width: 1200px) {
//   .container {
//     width: 1170px;
//   }
// }
